img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

h1, h2, h4 {
    text-align: center;
}

.footer {
    font-size: 10px;
}

.nav-link {
    color: black;
}

nav {
    justify-content: space-around;
}

.lastThreeBox {
    display:grid;
    grid-template-columns:min-content;
}